:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(black 20%, orchid);
  //@media (max-width: 500px){
  //  background: green;
  //}
}

div {
  min-height: 100%;
  min-width: 100%;
  justify-content: center;
  align-items: center;

}
