<ol>
  <li *ngFor="let recipe of recipes">
    {{recipe.name}}
    <button *ngIf="!like" mat-icon-button (click)="LikeDislike.emit(recipe.recipeId)">
      <mat-icon>star_border</mat-icon>
    </button>
    <button *ngIf="like" mat-icon-button (click)="LikeDislike.emit(recipe.recipeId)">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-raised-button *ngIf="isPicker" (click)="picked.emit(recipe.recipeId)">Wybierz</button>
    <button mat-raised-button *ngIf="isCookInit" (click)="picked.emit(recipe.recipeId)">GOTUJ</button>
  </li>
</ol>

<h1 *ngIf="!recipes.length && !isSearch">Nie masz jeszcze przepisów</h1>
<h1 *ngIf="!recipes.length && isSearch">Nie znalazłem takiego przepisu</h1>
