<table class="list" [formGroup]="model">
  <div class="title">
    <mat-form-field appearance="fill">
      <mat-label>Projekt:</mat-label>
      <label>
        <input matInput formControlName="title" (keyup.enter)="addTask()" />
      </label>
    </mat-form-field>
    <button mat-raised-button (click)="addTask()" [disabled]="model.invalid">
      DODAJ
    </button>
  </div>
  <div class="tasks">
    in
    <mat-list>
      <mat-list-item *ngFor="let task of tasks$ | async; index as i">
        <a [routerLink]="['/todo', task.projectId]"
          >{{ i + 1 }}. {{ task.title }}
        </a>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Usuń</button>
          <button mat-menu-item>Edytuj</button>
        </mat-menu>
      </mat-list-item>
    </mat-list>
  </div>
</table>
