:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  background: antiquewhite;
  border-radius: 10px 10px 0 0;
}

.board {
  padding-bottom: 4vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-top: 3vmin;
  display: flex;
  width: 96%;
}

.content{
  width: 80%;

}

.button{
  width: 20%;
}
mat-form-field {
  width: 95%;
  font-size: 1.6vmin;
  height: 6vmin;
  padding-right: 2vmin;
}

button {
  width: 100%;
  margin-top: 3px;
  font-size: 2vmin;
  text-align: center;
  height: 6vmin;
}
