<div class="page" #page>
  <div class="panel page1">
    <span class="hello">Witaj w świecie animacji</span>
    <div class="balloon">
      <div class="light"></div>
      <div class="line"></div>
      <div class="triangle"></div>
      <div class="line2"></div>
    </div>
  </div>
  <div class="panel page2"><div class="button" (mouseenter)="animationBall()"></div>
  </div>
  <div class="panel page3">
    <div class="box"></div>
  </div>
  <div class="panel page4">
    <div class="box"></div>
  </div>
  <div class="panel page5">
    <div class="box"></div>
  </div>
</div>
