<div class="page" #page>
  <div class="panel page1">
    <span class="hello">Witaj w świecie animacji</span>
    <div class="balloon">
      <div class="light"></div>
      <div class="line"></div>
      <div class="triangle"></div>
      <div class="line2"></div>
    </div>
  </div>
  <div class="panel page2">
    <div class="clonePage2" (click)="resetWindow()"></div>
    <div class="button button{{button.number}}" *ngFor="let button of buttons$ | async;index as i"
         (pointerenter)="animationBall($event.target)"
         (pointerleave)="onAnimationBall($event.target)"
         (click)="openWindow($event.target)">
      <div class="window">{{button.text}}
      </div>
    </div>
  </div>
  <div class="panel page3">
  </div>
  <div class="panel page4">
    <div class="boxXL">
    </div>
    <div class="box box1">
      <div class="text text1">Coś się napewno stanie</div>
      <div class="rectangle"></div>
      <div class="square"></div>
    </div>
    <div class="box box2">
      <div class="text text2">Poczekaj i kliknij armate</div>
      <div class="rectangle"></div>
      <div class="square"></div>
    </div>
    <div class="windowBoom">
      <img (click)="fireR()" class="cannon cannonR" src="assets/scroll.page/cannon.svg">
      <div class="heart heartR" *ngFor="let heart of hearts"></div>
      <img (click)="fireL()" class="cannon cannonL" src="assets/scroll.page/cannon.svg">
      <div class="heart heartL" *ngFor="let heart of hearts"></div>
      <div class="boom">WIELKIE BOOM!!!</div>
    </div>
  </div>
  <div class="panel page5">
  </div>
</div>
