<div class="page" #page>
  <div class="panel page1">
    <span class="hello">Witaj w świecie animacji</span>
    <div class="balloon">
      <div class="light"></div>
      <div class="line"></div>
      <div class="triangle"></div>
      <div class="line2"></div>
    </div>
  </div>
  <div class="panel page2">
    <div class="clonePage2" (click)="resetWindow()"></div>
    <div class="button button{{button.number}}" *ngFor="let button of buttons$ | async;index as i"
         (pointerenter)="animationBall($event.target)"
         (pointerleave)="onAnimation($event.target)"
         (click)="openWindow($event.target)">
      <div class="window">{{button.text}}
      </div>
    </div>
  </div>
  <div class="panel page3">
    <div class="scrolling">
      <button mat-raised-button (click)="animationNumber(number1)">{{number1}}</button>
      <button mat-raised-button (click)="animationNumber(number2)">{{number2}}</button>
      <button mat-raised-button (click)="animationNumber(number3)">{{number3}}</button>
      <button mat-raised-button (click)="animationNumber(number4)">{{number4}}</button>
      <div class="show">{{number}}</div>
    </div>
    <div class="photo">
      <div (click)="flyPlane()"><img class="plant" src="assets/scroll.page/paper-plane.svg"></div>
      <svg>
          <path class="zero" fill="none"
                d="M8,102 C15,83 58,25 131,24 206,24 233,63 259,91 292,125 328,155 377,155 464,155 497,97 504,74"/>
        </svg>
    </div>
  </div>
  <div class="panel page4">
    <div class="boxXL">
    </div>
    <div class="box box1">
      <div class="text text1">Coś się napewno stanie</div>
      <div class="rectangle"></div>
      <div class="square"></div>
    </div>
    <div class="box box2">
      <div class="text text2">Poczekaj i kliknij armate</div>
      <div class="rectangle"></div>
      <div class="square"></div>
    </div>
    <div class="windowBoom">
      <img (click)="fireR()" class="cannon cannonR" src="assets/scroll.page/cannon.svg">
      <div class="heart heartR" *ngFor="let heart of hearts"></div>
      <img (click)="fireL()" class="cannon cannonL" src="assets/scroll.page/cannon.svg">
      <div class="heart heartL" *ngFor="let heart of hearts"></div>
      <div class="rocket head">
        <div class="shadow1"></div>
        <div class="shadow2"></div>
      </div>
      <div class="rocket boom"
           (pointerenter)="animationButton($event.target)"
           (pointerleave)="onAnimation($event.target)"
           (click)="bigBoom()"
      >WIELKIE BOOM!!!
        <div class="shadow shadow1"></div>
        <div class="shadow shadow2"></div>
      </div>
      <div class="rocket fire">
        <div class="flame fire1"></div>
        <div class="flame fire2"></div>
        <div class="flame fire3"></div>
        <div class="flame fire4"></div>
      </div>
      <div class="confetti" *ngFor="let confetti of confetti"></div>
      <div class="caboom"></div>
      <div class="textWindow">
        <div class="ale">Ale</div>
        <div class="textLine"></div>
        <div class="sie">się</div>
        <div class="back"></div>
        <div class="dzialo">DZIAŁO</div>
      </div>
    </div>
  </div>
  <div class="panel page5">
  </div>
</div>
