<button mat-button (click)="click1()">Play</button>

<div class="box" #box>
  <span class="text">Lorem ipsum dolor sit amet mauris. Nunc mollis. Proin nonummy velit ornare lorem.
    In congue tristique. Donec nec libero quis ante. Curabitur magna non eros. Aliquam vel tortor.
    Phasellus at augue. Cum sociis natoque penatibus et malesuada ultricies. Donec condimentum,
    dapibus mauris turpis, accumsan vestibulum. Nullam et ultrices tincidunt, tempor eros ipsum,
    vel metus. Sed sagittis, elit. Sed quam quam sed felis non felis. Nulla ligula ut odio neque,
    quis diam iaculis at, congue eleifend. Nulla interdum consectetuer adipiscing sollicitudin.
    Fusce urna ut viverra quis, massa. Sed elementum, sapien eu enim. Duis posuere orci vel risus.
    Sed metus nunc, in posuere vitae, congue nibh sit amet, neque. Mauris ut magna justo vel urna tortor,
    dictum est, at lacus nonummy faucibus mollis. Etiam aliquam eget, ante. Ut eu sapien.</span>
  <div class="container">
    <div class="circle grey1"></div>
    <div class="circle grey2"></div>
    <div class="suspension"></div>
    <div class="car smoke ball1"></div>
    <div class="car smoke ball2"></div>
    <div class="car smoke ball3"></div>
    <div class="car pipe"></div>
    <div class="car frontGlass"></div>
    <div class="car backGlass"></div>
    <div class="car light"></div>
    <div class="car body front"></div>
    <div class="car body back"></div>
    <div class="car body mask"></div>
    <div class="car body goof"></div>
  </div>
</div>
