.a1 {
  left: 0;
  bottom: 0;
}

.a2 {
  left: 0;
  bottom: 12.5%;
}

.a3 {
  left: 0;
  bottom: 25%;
}

.a4 {
  left: 0;
  bottom: 37.5%;
}

.a5 {
  left: 0;
  bottom: 50%;
}

.a6 {
  left: 0;
  bottom: 62.5%;
}

.a7 {
  left: 0;
  bottom: 75%;
}

.a8 {
  left: 0;
  bottom: 87.5%;
}


.b1 {
  left: 12.5%;
  bottom: 0%;
}

.b2 {
  left: 12.5%;
  bottom: 12.5%;
}

.b3 {
  left: 12.5%;
  bottom: 25%;
}

.b4 {
  left: 12.5%;
  bottom: 37.5%;
}

.b5 {
  left: 12.5%;
  bottom: 50%;
}

.b6 {
  left: 12.5%;
  bottom: 62.5%;
}

.b7 {
  left: 12.5%;
  bottom: 75%;
}

.b8 {
  left: 12.5%;
  bottom: 87.5%;
}


.c1 {
  left: 25%;
  bottom: 0%;
}

.c2 {
  left: 25%;
  bottom: 12.5%;
}

.c3 {
  left: 25%;
  bottom: 25%;
}

.c4 {
  left: 25%;
  bottom: 37.5%;
}

.c5 {
  left: 25%;
  bottom: 50%;
}

.c6 {
  left: 25%;
  bottom: 62.5%;
}

.c7 {
  left: 25%;
  bottom: 75%;
}

.c8 {
  left: 25%;
  bottom: 87.5%;
}

.d1 {
  left: 37.5%;
  bottom: 0%;
}

.d2 {
  left: 37.5%;
  bottom: 12.5%;
}

.d3 {
  left: 37.5%;
  bottom: 25%;
}

.d4 {
  left: 37.5%;
  bottom: 37.5%;
}

.d5 {
  left: 37.5%;
  bottom: 50%;
}

.d6 {
  left: 37.5%;
  bottom: 62.5%;
}

.d7 {
  left: 37.5%;
  bottom: 75%;
}

.d8 {
  left: 37.5%;
  bottom: 87.5%;
}

.e1 {
  left: 50%;
  bottom: 0%;
}

.e2 {
  left: 50%;
  bottom: 12.5%;
}

.e3 {
  left: 50%;
  bottom: 25%;
}

.e4 {
  left: 50%;
  bottom: 37.5%;
}

.e5 {
  left: 50%;
  bottom: 50%;
}

.e6 {
  left: 50%;
  bottom: 62.5%;
}

.e7 {
  left: 50%;
  bottom: 75%;
}

.e8 {
  left: 50%;
  bottom: 87.5%;
}

.f1 {
  left: 62.5%;
  bottom: 0%;
}

.f2 {
  left: 62.5%;
  bottom: 12.5%;
}

.f3 {
  left: 62.5%;
  bottom: 25%;
}

.f4 {
  left: 62.5%;
  bottom: 37.5%;
}

.f5 {
  left: 62.5%;
  bottom: 50%;
}

.f6 {
  left: 62.5%;
  bottom: 62.5%;
}

.f7 {
  left: 62.5%;
  bottom: 75%;
}

.f8 {
  left: 62.5%;
  bottom: 87.5%;
}

.g1 {
  left: 75%;
  bottom: 0%;
}

.g2 {
  left: 75%;
  bottom: 12.5%;
}

.g3 {
  left: 75%;
  bottom: 25%;
}

.g4 {
  left: 75%;
  bottom: 37.5%;
}

.g5 {
  left: 75%;
  bottom: 50%;
}

.g6 {
  left: 75%;
  bottom: 62.5%;
}

.g7 {
  left: 75%;
  bottom: 75%;
}

.g8 {
  left: 75%;
  bottom: 87.5%;
}

.h1 {
  left: 87.5%;
  bottom: 0%;
}

.h2 {
  left: 87.5%;
  bottom: 12.5%;
}

.h3 {
  left: 87.5%;
  bottom: 25%;
}

.h4 {
  left: 87.5%;
  bottom: 37.5%;
}

.h5 {
  left: 87.5%;
  bottom: 50%;
}

.h6 {
  left: 87.5%;
  bottom: 62.5%;
}

.h7 {
  left: 87.5%;
  bottom: 75%;
}

.h8 {
  left: 87.5%;
  bottom: 87.5%;
}
