/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  width: 100%;
  height: 100%;
  background-color: orchid;

  ::-webkit-scrollbar
  {
    max-height: 100px;
    width: 22px;
    background-color: black;

  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-image: radial-gradient(orchid, deeppink 70%);
  }
  ::-webkit-scrollbar-thumb:hover {
    background-image: radial-gradient(deeppink, orchid 70%);
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: orchid;

  ::-webkit-scrollbar
  {
    max-height: unset;
    width: auto;
    background-color: unset;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 4px;
    background-color: unset;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: unset;
  }
}

.uppercaseFirstLetter {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.titleAllPage {
  width: 100%;
  height: 15vmin;
  background-image: linear-gradient(antiquewhite 90%, black);
  font-size: 7vmin;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  margin-bottom: 4vmin;
  overflow-wrap: anywhere;
  display: grid;
  grid-template-columns: 11vmin 80% 11vmin;

  .title {
    height: 100%;
    text-align: center;
    display: flex;
    text-transform: uppercase;
  }

  .button {
    height: 100%;
    position: relative;
    display: flex;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    a {
      width: 10vmin;
      height: 10vmin;
      .material-icons {
        font-size: 9vmin;
        margin-right: 6.5vmin;
        margin-top: 4vmin;

      }
    }
  }
}

.button .tooltipText {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom:-40%;
  left: 35%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity .5s;
  font-size: 15px;
}

.button .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.button:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
